{%- if field.is_optional %}
* {{ field.name | wrap("**") }}? {{ field.typ.inner | humanize }}
{%-   if field.desc %}\
  {{ field.desc | trim | indent(2) }}
{%-   endif %}
{%- else %}
* {{ field.name | wrap("**") }} {{ field.typ | humanize }}
{%-   if field.desc %}\
  {{ field.desc | trim | indent(2) }}
{%-   endif %}
{%- endif %}

{%- if field.typ | should_expand and field.typ.fields %}

  Table fields:
{%    for attr, val in ((field.typ.fields or {}) | dict).items() %}
{%-     if val.is_optional %}
  * {{ attr |  wrap("**") }}? {{ ((val.typ or val).inner or val) | humanize }}
{%-     else %}
  * {{ attr |  wrap("**") }} {{ (val.typ or val) | humanize }}
{%-     endif %}
{%-     if val.desc %}\
    {{ val.desc | trim | indent(4) }}
{%-     endif %}
{%-   endfor %}
{%-  endif -%}
